{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">

                        
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Welcome to School Giene</h2>

                        <!-- Admin login --> 
                        <form  action="{% url 'admin_login' %}"> 
                            {% csrf_token %} 
                            <!-- Form fields go here -->
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Admin Log in" />
                            </div>
                        </form> 
                        <!-- staff login -->
                        <form  action="{% url 'staff_login' %}"> 
                            {% csrf_token %}
                            <!-- Form fields go here -->
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Staff Log in" />
                            </div>
                        </form>
                        <!-- student login -->
                        <form  action="{% url 'student_login' %}">
                            {% csrf_token %}
                            <!-- Form fields go here -->
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Student Log in" />
                            </div>
                        </form>

                        

                        
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    
</body>
</html>